{% extends "ChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = '' %}

{% block title 'Consultation list'|trans %}

{% block personcontent %}
<h1>{{ 'Consultation list'|trans }}</h1>

{% if consultations|length > 0 %}
<table>
    <thead>
        <tr>
            <td>{{ 'Date'|trans }}</td>
            <td>{{ 'Author'|trans }}</td>
            <td>{{ 'State'|trans }}</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% for consultation in consultations %}
        <tr>
            <td>{{ consultation.date|localizeddate('long', 'none') }}</td> 
            <td>{{ consultation.author }}</td>
            <td>{{ 'consultation_state_' ~ consultation.state|trans }}</td>
            <td>
                <ul class="record_actions">
                    <li>
                        <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id } ) }}" class="sc-button btn-see">
                            {{ 'See'|trans }}
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p class="chill-no-data-statement">{{ "There aren't any consultation yet"|trans }}</p>
{% endif %}

<ul class="record_actions">
    <li>
        <a href="{{ path('chill_health_consultation_new', { 'person_id' : person.id } ) }}">
            {{ 'New consultation' }}
        </a>
    </li>
</ul>

{% endblock %}
