{% extends "ChillPersonBundle::layout.html.twig" %}

{% set activeRouteKey = '' %}

{% set role_update = constant('Chill\\HealthBundle\\Security\\Authorization\\ConsultationVoter::UPDATE') %}

{% if form_close is defined %}
    {% set is_updatable = false %}
{% else %}
    {% set is_updatable = is_granted(role_update, consultation) %}
{% endif %}

{% block title 'Show consultation'|trans %}

{% block personcontent %}
    <h1>{{ 'Show consultation'|trans }}</h1>

    <dl>
        <dt>{{ 'Date'|trans }}</dt>
        <dd>{{ consultation.date|localizeddate('long', 'none') }}</dd>

        <dt>{{ 'Author'|trans }}</dt>
        <dd>{{ consultation.author }}</dd>

        <dt>{{ 'Circle'|trans }}</dt>
        <dd>{{ consultation.circle.name|localize_translatable_string }}</dd>
    </dl>
    
    <h2>{{ 'Active problems'|trans }}</h2>

    <p>Disponible dans les futures versions...</p>

    <h2>{{ 'Medications'|trans }}</h2>
    
    {% if consultation.medications|length == 0 %}
        <p>
            <span class="chill_no_data_statement">{{ 'No medications' }}</span>
        </p>
    {% else %}
        <table>
            <tbody>
                    {% for medication in consultation.medications %}
                        <tr>
                            <td class="medication-date-from">
                                <dl>
                                    <dt>{{ 'Date from'|trans }}</dt>
                                    <dd>{{ medication.dateFrom|localizeddate('long', 'none') }}</dd>
                                
                                    <dt>{{ 'Drug'|trans }}</dt>
                                    <dd>
                                        {{ medication.substance.displayName|localize_translatable_string }}, {{ medication.doseQuantityValue }}&nbsp;{{ medication.doseQuantityUnit }}
                                    </dd>
                                
                                    <dt>{{ "Fréquence d'administration"|trans }}</dt>
                                    <dd>{{ medication.administrationFrequency }}</dd>
                                
                                    <dt>{{ "Route of administration"|trans }}</dt>
                                    <dd>{{ medication.routeOfAdministration.displayName|localize_translatable_string }}</dd>
                                
                                    <dt>{{ 'Date to'|trans }}</dt>
                                    <dd>{{ medication.dateTo|localizeddate('long', 'none') }}</dd>
                                    
                                    <dt>{{ 'Mode de délivrance'|trans }}</dt>
                                    <dd>
                                        {% if medication.modeDelivrance is not empty%}
                                            <blockquote class="chill-user-quote">
                                            {{ medication.modeDelivrance }}
                                            </blockquote>
                                        {% else %}
                                            <p class="chill-no-data-statement">{{ 'There are no indication'|trans }}</p>
                                        {% endif %}
                                    </dd>
                                </dl>
                                    
                                {% if is_updatable %}
                                <ul class="record_actions">
                                    <li>
                                        <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id, 'action': 'medication_update', 'medication_id': medication.id } ) }}" class="sc-button btn-update">
                                            {{ "Update"|trans }}
                                        </a>
                                    </li>
                                </ul>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    {% if form_medication is defined %}
    {{ form_start(form_medication) }}
    
    {{ form_row(form_medication.dateFrom) }}
    {{ form_row(form_medication.substance) }}
    {{ form_row(form_medication.substance_string) }}
    {{ form_row(form_medication.doseQuantityValue) }}
    {{ form_row(form_medication.doseQuantityUnit) }}
    {{ form_row(form_medication.routeOfAdministration) }}
    {# {{ form_row(form_medication.administrationUnitCode) }} #}
    {{ form_row(form_medication.administrationFrequency) }}
    {{ form_row(form_medication.dateTo) }}
    {{ form_row(form_medication.modeDelivrance) }}
    {{ form_row(form_medication.neverPublish, { 'label' : 'Allow publication ?' } ) }}
    
    <ul class="record_actions">
        <li>
            {{ form_widget(form_medication.submit, { 'attrs' : { 'class' : 'sc-button bt-create' }, 'label' : 'Submit' } ) }}
        </li>
        <li>
            <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id } ) }}" class="sc-button bt-cancel">
                {{ 'Cancel'|trans }}
            </a>
        </li>
    </ul>
    
    {{ form_end(form_medication) }}
    {% endif %}
    
    <!-- CTA for medication sections  -->
    {% if form_medication is not defined and is_updatable %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id, 'action': 'medication_add' } ) }}" class="sc-button bt-create" />
            {{ 'Add a medication' }}
            </a>
        </li>
        <li>
            <a href="#" class="sc-button btn-create">
            {{ 'Renew a medication' }}
            </a>
        </li>
    </ul>
    {% endif %}
    
    
    
    
    <h2>{{ 'Actions'|trans }}</h2>
    
    <!-- CTA for consultation -->

    <ul class="record_actions">
        {% if is_updatable %}
        <li>
            <a href="{{ path('chill_health_consultation_show', { 'consultation_id' : consultation.id, 'action' : 'suggest_close' } ) }}" class="sc-button">
              {{ 'Close consultation'|trans }}
            </a>
        </li>
        
        <li>
            <a href="{{ path('chill_health_consultation_close', { 'consultation_id' : consultation.id, 'action': 'suggest_close_and_publish' } ) }}" class="sc-button">
              {{ 'Close consultation and publish document'|trans }}
            </a>
        </li>
        {% endif %}
        
        {% if form_close is defined %}
        <li>
            {{ form_start(form_close) }}
            {{ form_widget(form_close.submit, { 'attrs' : { 'class' : 'sc-button btn-delete' }, 'label': 'Close consultation' } ) }}
            {{ form_end(form_close) }}
        </li>
        {% endif %}
        <li>
            <a href="{{ path('chill_health_consultation_list', { 'person_id': person.id } ) }}" class="sc-button btn-cancel">
                {{ 'Back to the list'|trans }}
            </a>
        </li>
    </ul>
    
    
    
{% endblock %}
